.writingTitle2 {
    /*게시판페이지_게시글_제목*/
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.08);
    border: none;
    padding: 4px 4px 4px 15px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 15px;
    width: 95%;
    height: 35px;
    font-size: 15px;
    display: flex;
    align-items: center;
  }
  
  .writingFillOut2 {
    /*게시판페이지_게시글_내용*/
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.08);
    border: none;
    padding: 4px 4px 4px 15px;
    border-radius: 20px;
    margin-top: 3px;
    margin-left: 10px;
    padding-top: 13px;
    padding-left: 10px;
    width: 95%;
    height: 450px;
    font-size: 17px;
  }
  
  .delBtnPR {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
  }
  .postDelBtn {
    /*게시글 삭제버튼*/
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Inter";
    border-radius: 20px;
    padding: 10px;
    width: 85px;
    background-color: #4254ff;
    border: none;
    cursor: pointer;
    color: white;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.1);
  }
  
  .postEditBtn {
    /*게시글 수정버튼*/
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Inter";
    border-radius: 20px;
    padding: 10px;
    width: 85px;
    background-color: #4254ff;
    border: none;
    cursor: pointer;
    color: white;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .borderHR132{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .postEditTitle {
    /*게시글_수정페이지_제목*/
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: 650;
    font-size: 20px;
    font-family: "Inter";
    align-items: center;
  }
  .postTitleEditFillOut {
    /*게시글_수정할 제목*/
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.08);
    border: none;
    padding: 4px 4px 4px 15px;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 10px;
    width: 95%;
    height: 35px;
    font-size: 13px;
    margin-bottom: 15px;
  }
  .postContentsEditFillOut {
    /*게시글_수정할 내용*/
    box-shadow: none;
    font-family: "Inter";
    background-color: rgba(0, 0, 0, 0.08);
    border: none;
    padding: 4px 4px 4px 15px;
    border-radius: 20px;
    margin-top: 3px;
    margin-left: 10px;
    padding-top: 13px;
    padding-left: 10px;
    width: 95%;
    height: 450px;
    font-size: 13px;
  }
  .editSubmitBtnPR {
    display: flex;
    justify-content: center;
  }
  .postEditSubmitBtn {
    /*게시글_수정_제출버튼*/
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Inter";
    border-radius: 20px;
    padding: 10px;
    width: 65px;
    background-color: #4254ff;
    border: none;
    cursor: pointer;
    color: white;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .postEditSubmitBtn :hover {
    opacity: 0.93;
  }
  
.commentTitle{
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom:0px;
  margin-top:20;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style:inherit;
  font-weight: 600;
  font-size: 20px;
  color:rgb(69, 69, 69);
}