.list{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 80vh;
}
.pathName,.pathPart{
    display: flex;
    justify-content:space-between;
    margin-top:7vh;
    width:6vh;
    margin-left:15vw;
}
.child123{
    width:6vh
}
.content_title_write{
    color:gray;
    margin-bottom: 10px;
}
.listChild{
    margin-bottom: 10px;
}
.btnBox{
  width: 100vw;
  margin:30px;
  display: flex;
  justify-content: center;
}
.ctgSubmit{
font-size: 15px;
font-family: "Inter";
border-radius: 20px;
padding: 10px;
width: 65px;
background-color: #4254ff;
border: none;
cursor: pointer;
color: white;
box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.1);
}
.clothText{
       font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-style:inherit;
        font-weight: 600;
        font-size: 16px;
        margin-left: 7px;
       
}
.marginBox6{
    height:10vh;
}
.borderHR12{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    margin-top : 20px;
}
.defaultText{
    margin:10px;
    margin-left:37vw;
}