.imgBox1{
    display: flex;
   text-align: center;
   align-items: center;
   position: relative;
   transition: transform 1s;
}
.img1{
    width: 100vw;
    height: 100vh;
    border-radius: 30px;
}
.contanier1{
    overflow: hidden;
}
.rainText1,.left1,.right1{
    position: absolute;
}
.rainText1{
    bottom: -40px;
    right: 10px;
    border-radius: 10px;
    padding:0px 8px 0px 8px;
}
.left1{
    /* top:140%; * 모바일일때*/
    top:50%;
    width:5vw;
    height:10vh;
    border-radius: 20px;
    background-color: rgb(55, 110, 211);
    color:white;
    border: 3px solid white;
}
.tempText{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:inherit;
    font-weight: 600;
    font-size: 24px;
    color:gray;

}
.right1{
    top:50%;
    right: 20px; 
    width:5vw;
    height:10vh;
    border-radius: 20px;
    background-color: rgb(55, 110, 211);
    color:white;
    border: 3px solid white;
}

.borderHR1 {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .errorMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
.marginBox5{
    height:15vh;
}
.header_title_content{
    margin:10px;
    font-style:inherit;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:inherit;
}
.borderHR181 {
    border-top: 1px solid white;
    margin-top: 20px;
  }