.IdFind_title_container{
    display: flex;
    margin-top: 31px;
    margin-left: 31px;
    margin-bottom: 25px;
    align-items: center;
}
.IdFind_pageback{

}
.IdFind_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #000000;
    width: 100vh;
    margin-left: -50px;
}
.Recommendation_container{
    padding-bottom: 73px;
}
.Recommendation_card_container{
    height: calc( 100% - 73px);
    padding: 15px;
    overflow: hidden;
}
.Recommendation_card_container_inner{
    height: 100%;
    /*margin: 15px;*/
    background: #FDFDFD;
    border: 1px solid #E0E0E0;
    box-shadow: 2px 8px 20px -1px rgba(0, 0, 0, 0.15);
    /*filter: blur(2px);*/
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.Recommendation_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */
    text-align: center;
    letter-spacing: -0.078px;
    color: #000000;
}
.Recommendation_notice{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.Recommendation_notice1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 14px;
    gap: 10px;
    /*width: 72px;*/
    height: 22px;
    background: #4254FF;
    border: 1px solid #4254FF;
    border-radius: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    color: #FFFFFF;
    /* Inside auto layout */
    margin-bottom: 10px;
}
.Recommendation_notice2{
    padding: 5px 14px;
    gap: 10px;
    /*width: 70px;*/
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #4254FF;
    border-radius: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    color: #4254FF;
}
